.idea/Dyslexim.iml
.idea/Dyslexim.iml
.idea/misc.xml
.idea
dyslexim\build\main
dyslexim/core/__pycache__/
dyslexim/core/__pycache__/js_handler.cpython-311.pyc
dyslexim/core/__pycache__/js_handler.cpython-311.pyc
dyslexim/core/__pycache__/main_window.cpython-311.pyc
dyslexim/core/__pycache__/main_window.cpython-311.pyc
